# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
staticfiles/
media/

# Celery Beat local schedule file
celerybeat-schedule

# pytest cache
.pytest_cache/

# IDE
.idea/
.vscode/

# OS files
.DS_Store

# Environment files
.env
.env.*
!*.example

# Docker
*.pid
