version: "3.9"

services:
  backend:
    build: .
    container_name: habit_backend
    command: >
      sh -c "
        python manage.py migrate &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media


  nginx:
    build:
      context: ./nginx
    container_name: habit_nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media

  db:
    image: postgres:16-alpine
    container_name: habit_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - habit_pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: habit_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: habit_celery
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - .:/app

  celery_beat:
    build: .
    container_name: habit_celery_beat
    command: celery -A config beat -l info
    env_file:
      - .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - .:/app

volumes:
  habit_pg_data:
  static_volume:
  media_volume:

